html {
    height: 100%;
    font-size: 14px;
}

body {
    font-family: 'Lato', sans-serif;
    color: var(--text-color);
    background-color: #f5f7fb;
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.2;
}

a {
    text-decoration: none;
}

.layout-wrapper {
    min-height: 100vh;
    --sidebar-width: 18rem;
    --topbar-height: 5.25rem;
    background: #f5f7fb;
}

.layout-wrapper > app-topbar,
.layout-wrapper > app-sidebar {
    display: block;
}
