:root {
    --surface-ground: #f5f7fb;
    --code-background: var(--p-surface-900);
    --code-color: var(--p-surface-200);
    --auth-page-background-image: url('/assets/images/authBG-light.png');
    --auth-page-overlay: rgba(255, 255, 255, 0.45);
}
