<div class="layout-sidebar" [class.sidebar-collapsed]="isCollapsed">
    <a class="layout-sidebar-brand" routerLink="/">
        <span class="layout-sidebar-brand-copy">
            <img [src]="isCollapsed ? collapsedLogo : fullLogo" alt="MedFinder-logo">
            <small class="ml-14 hide-on-collapse">Pharmacy Admin</small>
        </span>
    </a>

    <div class="layout-sidebar-divider"></div>

    <div class="layout-sidebar-menu">
        <app-menu></app-menu>
    </div>

    <div class="layout-sidebar-footer">
        <a class="layout-sidebar-footer-link logout-link" routerLink="/auth/login">
            <i class="pi pi-sign-out"></i>
            <span *ngIf="!isCollapsed" class="font-semibold text-lg">Logout</span>
        </a>
    
        <button type="button" class="layout-sidebar-footer-link collapse-button" (click)="toggleSidebar()">
            <i class="pi" [ngClass]="{'pi-angle-left': !isCollapsed, 'pi-angle-right': isCollapsed}"></i>
            <span *ngIf="!isCollapsed" class="font-medium text-lg">Collapse</span>
        </button>
    </div>
</div>
